* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora";
}

.wrapper {
  background-color: #363c41;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameboard {
  background-color: #daf0ee;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.btn {
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  position: relative;
  border: 2px solid #111;
  margin: 0 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}

.newgame {
  overflow: hidden;
  transition: all 300ms ease;
  width: 230px;
  height: 60px;
  margin-top: 50px;
  color: #363c41;
  font-size: 1.7rem;
  border: 0;
  border-radius: 5px;
}

.newgame h4 {
  color: #111;
}

.newgame:after {
  width: 300%;
  height: 350%;
  left: -300%;
  transform: rotate(45deg);
  background-color: #61892f;
  transition: all 300ms ease;
}

.newgame:hover h4 {
  color: #fff;
  z-index: 10;
  font-weight: 600;
}

.newgame:hover::after {
  left: -100%;
}

.newgame:hover {
  border: 2px solid #61892f;
}

.singlecell {
  border: 1px solid #000;
  text-align: center;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
